*, *:before, *:after {
  box-sizing: inherit;
}
html{
	box-sizing: border-box;
	font size: 1em;
}
body{
	background: url(../images/backround/back.png)no-repeat;
	background-color:#78b8ae;
	margin: 0 auto;
	padding: 0 auto;
}

/* ------------------------------------------------------------  */
/*                        Mobil                                	*/
/* ----------------------------------------------------------- */
.head{
	background: #488E83;           
	position: relative;
	height: 33%;
	width: 100%;
}
.logo img{
	
	width: 45%;
	height:auto;
	padding-left:25px;
	position:relative;
	margin: 10px auto;
	text-align: center;
}
/* ---------------------------------------------------------- */
/*                        Navigation                         */
/* -------------------------------------------------------- */
.hidden {
 	 display: none;
}
  
#nav_ul {
 	 margin: 0 0 0 0;
  	padding:0 0 0 0 ; 
  	text-align: center;
  	list-style: none;
}

#nav_ul a {
 	margin: 0;
  	display: block;
  	color: #fff;
  	text-decoration: none;

}

#nav_ul li{
	height: 30px;
	background:  #000;
	line-height: 20px;
	letter-spacing:0.20em;
	text-decoration: none;
	text-align: center;
	font-family: arial,sans-serif;
	font-size:1em;
	color:#fff;
	
}
#nav_ul li,
#menu{
  	font-size: 1em;
  	padding: 0.1em 0;
}

#menu {
    position:absolute;
	display: inline-block;
	background-image: url(../images/nav/hamb.png);
	width: 30px;
	height: 30px;
	margin-right: 20px;
	margin-top: 20px;
	top: 0;
	right: 0;
	cursor: pointer;
}
/* ---------------------------------------------------------- */
/*                          Slide                            */
/* ---------------------------------------------------------*/
.container {
	width:100%;
	height: auto;
	margin: -20px auto 0;
}

.slider-wrapper {
	z-index: 500;
	position: relative;
	width: 100%;
	height: 180px;
	background: #FFF;
/* 	border: 5px solid #4b5973; */
	overflow: hidden;
}

.slider-wrapper li {
	display: none;
}

.slider-wrapper .current-slide {
	display: block;
}



.slider-wrapper img {
	position: absolute;
	max-width: 100%;
	height: 220px;
	top: 0;
	left: 0;
}

/*** ---[Caption] ----------------------**/ 
 
.slider-wrapper .caption {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	padding: 10px;
	color: #FFF;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}


.slider-wrapper h2 {
	color: #00c5b9;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 6px;
}

.slider-wrapper p {
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.4em;
}
.control-buttons {
	margin-top: 15px;
	text-align: center;
}

.control-buttons li {
	cursor: pointer;
	display: inline-block;
	background: #424f66;
	text-indent: -99999px;
	height: 12px;
	width: 12px;
	margin: 0 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.control-buttons li.active {
	text-align: center;
	background: #00c5b9;
}

/* ---------------------------------------------------------- */
/*                        Titre                               */
/* ---------------------------------------------------------- */
.title{
	font-family:tahoma;
	text-align: center;
	position: relative;
	margin:50px auto ;
	width: 95%;	
}


/*----------------------------------------------------------*/
/*                  Navigation lieux                        */
/*----------------------------------------------------------*/

.btn-menu-main{display: inline-block; vertical-align: top;
}
.btn-menu-main:nth-child(n+6){margin: 0 0 0 0px;
}
.btn-menu-main2{ display: inline-block; vertical-align: top;
}
.btn-menu-main2:nth-child(n+6){margin: 0 0 0 0px;
}
.content{
	text-align: center;
	margin: 0px auto;
	width: 100%;
	height:auto;	
}
.content img{ width:90px; height:auto;}
/*----------------------------------------------------------*/
/*                     Navigation events                    */
/*----------------------------------------------------------*/
	#navevent{
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 150px;
}

	#navevent ul{
	margin: 0 0 0 0;
	padding: 40px 0 0 0;
	text-align: center;
}

	#navevent ul li{
	display: inline-block;
	list-style: none;	
}

	#navevent li a{
	display: block;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 auto;
	font-family: arial,sans-serif;
	font-size: 1em;
	letter-spacing:0.20em;
	color: #000;
	text-decoration: none;
	border-right: 1px solid #333;
}

	#navevent li a.last{
	border: none;
}

	#navevent li a:hover{
	color:#ff0000;
}

	#img_cont{
	position: relative;
	padding-top: 0px
}

	.img_tab img{
	padding: 10px auto;
	padding-top: 30px;
	float: left;
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
/*----------------------------------------------------------*/
/*                       Reseaux sociaux                    */
/*----------------------------------------------------------*/
	.social img{
	width: 10%;
	height: auto;
}
	.social {
	
	margin: 20px auto;
	vertical-align: top;
	display: inline-block;
	width: 100%;
}
.icone{
	width: 100%;
	height: auto;
	padding: 0 0 0 50px
}
/*----------------------------------------------------------*/
/*                         Footer                           */
/*----------------------------------------------------------*/

	.footer{
	position: relative;
	background: #5c958c;
	margin: 0px auto;
	width: 100%;
	height: 100px;
}
/*----------------------------------------------------------*/
/*                        Tablette min 640px                */
/*----------------------------------------------------------*/
@media screen and (min-width: 640px) {
.head{
	background: #488E83; 
	position: relative;
	height: 43%;
	width: 100%;
}
.logo img{
	width: 30%;
	height:auto;
	padding-left:25px;
	position:relative;
	margin: 10px auto;
	text-align: center;
}
/*----------------------------------------------------------*/
/*                        Navigation                        */
/*----------------------------------------------------------*/
.hidden {
  	display: none;
}
  
#nav_ul {
  	margin: 0 0 0 0;
  	padding:0 0 0 0 ; 
  	text-align: center;
  	list-style: none;
}

#nav_ul a {
  	margin: 0;
  	display: block;
  	color: #fff;
  	text-decoration: none;

}

#nav_ul li{
	height: 30px;
	background:  #000;
	line-height: 20px;
	letter-spacing:0.20em;
	text-decoration: none;
	text-align: center;
	font-family: arial,sans-serif;
	font-size:1em;
	color:#fff;
	
}

#nav_ul li:hover{
	background-color: #333;
	color:  #76b6ac;
}
  
#nav_ul li,
#menu{
  	font-size: 1em;
  	padding: 0.1em 0;
}

#menu {
    position:absolute;
	display: inline-block;
	background-image: url(../images/nav/hamb.png);
	width: 30px;
	height: 30px;
	margin-right: 20px;
	margin-top: 20px;
	top: 0;
	right: 0;
	cursor: pointer;
}
/*----------------------------------------------------------*/
/*                        Slide                              */
/*----------------------------------------------------------*/
 .container {
	width:100%;
	height: auto;
	margin: -20px auto 0;
}

.slider-wrapper {
	z-index: 500;
	position: relative;
	width: 100%;
	height: 180px;
	background: #FFF;
/* 	border: 5px solid #4b5973; */
	overflow: hidden;
}

.slider-wrapper li {
	display: none;
}

.slider-wrapper .current-slide {
	display: block;
}



.slider-wrapper img {
	position: absolute;
	max-width: 100%;
	height: 220px;
	top: 0;
	left: 0;
}

/*** ---[Caption] ----------------------**/ 
 
.slider-wrapper .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	padding: 10px;
	color: #FFF;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}


.slider-wrapper h2 {
	color: #00c5b9;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 6px;
}

.slider-wrapper p {
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.4em;
}
.control-buttons {
	margin-top: 20px;
	text-align: center;
}

.control-buttons li {
	cursor: pointer;
	display: inline-block;
	background: #424f66;
	text-indent: -99999px;
	height: 12px;
	width: 12px;
	margin: 0 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.control-buttons li.active {
	text-align: center;
	background: #00c5b9;
}

/*----------------------------------------------------------*/
/*                        Titre                             */
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
/*                        Navigation lieux                  */
/*----------------------------------------------------------*/


.btn-menu-main{ display: inline-block; vertical-align: top;
}
.btn-menu-main:nth-child(n+6){margin: 0 0 0 0px;
}
.btn-menu-main2{ display: inline-block; vertical-align: top;
}
.btn-menu-main2:nth-child(n+6){margin: 0 0 0 0px;
}
.content{
	text-align: center;
	position: relative;
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
	height:100%;	
}
.content img{ width:100px; height:auto;}
}

  

/*----------------------------------------------------------*/
/*             Navigation events                            */
/*----------------------------------------------------------*/


/*----------------------------------------------------------*/
/*                       Reseaux sociaux                    */
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
/*                       Footer                             */
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/


@media screen and (min-width: 960px) {
	body{
		width: 100%;
		background-image: url(../images/backround/dep.png) ;
	}
	.head{
	background: #488E83;           
	position: relative;
	height: 175px;
	width: 100%;
}
	.logo img{
	
	width: 280px;
	height:auto;
	padding-left:25px;
	position:relative;
	margin: 0px auto;
	text-align: center;
}
/*----------------------------------------------------------*/
/*                        navigation                        */
/*----------------------------------------------------------*/


/*----------------------------------------------------------*/
/*                        Slide                             */
/*----------------------------------------------------------*/

.container {
	width:500px;
	height: 300px;
	margin:200px 0  0 450px;
}

.slider-wrapper {
	z-index: 500;
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
/* 	border: 5px solid #4b5973; */
	overflow: hidden;
}

.slider-wrapper li {
	display: none;
}

.slider-wrapper .current-slide {
	display: block;
}



.slider-wrapper img {
	position: absolute;
	max-width: 100%;
	height: 220px;
	top: 0;
	left: 0;
}

/*** ---[Caption] ----------------------**/ 
 
.slider-wrapper .caption {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	padding: 10px;
	color: #FFF;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}


.slider-wrapper h2 {
	color: #00c5b9;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 6px;
}

.slider-wrapper p {
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.4em;
}
.control-buttons {
	margin-top: 15px;
	text-align: center;
}

.control-buttons li {
	cursor: pointer;
	display: inline-block;
	background: #424f66;
	text-indent: -99999px;
	height: 12px;
	width: 12px;
	margin: 0 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.control-buttons li.active {
	text-align: center;
	background: #00c5b9;
}

/* ---------------------------------------------------------- */
/*                        Titre                               */
/* ---------------------------------------------------------- */
.title{
	font-family:tahoma;
	text-align: center;
	position: relative;
	margin:0px auto ;
	width: 95%;	
}

/*----------------------------------------------------------*/
/*                        navigation lieux                  */
/*----------------------------------------------------------*/
.content{
	margin: -150px 0 0 0 
}
.content img{ width:150px; height:auto;}


/*----------------------------------------------------------*/
/*             Navigation events                            */
/*----------------------------------------------------------*/



/*----------------------------------------------------------*/
/*             Reseaux sociaux                              */
/*----------------------------------------------------------*/



/*----------------------------------------------------------*/
/*                           Footer                         */
/*----------------------------------------------------------*/

}