*, *:before, *:after {
  box-sizing: inherit;
}

/* .nav:after{
	content:".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} */
html{
	box-sizing: border-box;
	font size: 1em;

}/* #76b6ac, */
body{
	background-color:#dcdddd;
	font-size:1em;
	margin: 0;
	padding: 0;
}
/*******************Mobil****************/

	.container{
/* 	background-color: #76b6ac;
margin: auto; #68a097;background-color: #000;*/
}

.head{
	background:url(../images/backround/bg_footer.png) repeat center top;
	position: relative;
	height: 100px;
	width: 100%;
}

.logo img{
	
	width: 150px;
	height:auto;
	padding-left:25px;
	position:relative;
	/* margin: auto;
	text-align: center;
	padding-top: 13px;
	width: 100%;
	height: auto; */
}					/* menu de navigation */

.hidden {
  display: none;
}
  
#nav_ul {
  margin: 0 0 0 0;
  padding:0 0 0 0 ; 
  text-align: center;
  list-style: none;
}

#nav_ul a {
  margin: 0;
  display: block;
  color: #fff;
  text-decoration: none;

}

#nav_ul li{
	height: 30px;
	background:  #000;
	/* border-bottom: 1px solid black; */
	line-height: 20px;
	letter-spacing:0.20em;
	text-decoration: none;
	text-align: center;
	font-family: arial,sans-serif;
	font-size:1em;
	color:#fff;
	
}

/* #nav_ul li:hover{
	background-color: #333;
	color:  #76b6ac;
 */}
  
#nav_ul li,
#menu{
  font-size: 1em;
  padding: 0.1em 0;
}

#menu {
    position:absolute;
	display: inline-block;
	background-image: url(../images/nav/hamb.png);
	width: 30px;
	height: 30px;
	margin-right: 20px;
	margin-top: 20px;
	top: 0;
	right: 0;
	cursor: pointer;
}

/* #menu:hover{
    position:absolute;
	display: inline-block;
	background-image: url(../img/hambhover.png);
	width: 30px;
	height: 21px;
	margin-right: 10px;
	margin-top: 10px;
	top: 0;
	right: 0;
	cursor: pointer;
} */

					/* fin de menu de navigation */
 #slide{
	/* display: none; */
}

#slide1{
	background-color: #000;
	position: relative;
	width:100%;
	height: auto;
	margin:0;
	padding: 0;
	clear: both;
	overflow: hidden;
	border:1px solid #333;
}

	.image1, .image2, .image3, .image4, .image5{
	position: absolute;
	display: inline;
	max-width:100%;
	height: auto;
} 
	h1{
	margin:100px 0 0 0;
	font-family:arial, tahoma;
	font-size: 30px;
	text-align: center;
	}
	h2{
		margin:0px 0 0 0;
		text-align: center;
		font-size: 14px;
		font-family: arial, tahoma;
	}
.content{
	display: inline-block;
	position: relative;
	top:10px ;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	text-align: center;

}
.content img{
	width: 75px;
	height: 75px;
}
.content ul{
	position: relative;
	list-style: none;
}
.batiment1{
	margin: 0;
	padding: 0;
}

.batiment1 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;	
}

/* .batiment1 img:hover{
	width: 90%;
	height: auto;
} */

.batiment2{
	margin: 0;
	padding: 0;
}

.batiment2 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;
	top: -15px;
	
}

/* .batiment2 img:hover{
	width: 90%;
	height: auto;
} */

.batiment3{
	margin: 0;
	padding: 0;
}

.batiment3 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;
	top: -30px;	
}

/* .batiment3 img:hover{
	width: 90%;
	height: auto;
} */

.batiment4{
	margin: 0;
	padding: 0;
}

.batiment4 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;
	top: -45px;
	
}

/* .batiment4 img:hover{
	width: 90%;
	height: auto;
} */
#navevent{
	display: block;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

#navevent ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

#navevent ul li{
	display: inline-block;
	list-style: none;	
}

#navevent li a{
	display: block;
	text-align: center;
	padding: 0 15px 0 0;
	margin: 0 0 0 17px;
	font-family: arial,sans-serif;
	font-size: 1em;
	letter-spacing:0.20em;
	color: #000;
	text-decoration: none;
	border-right: 1px solid #333;
}

#navevent li a.last{
	border: none;
}

#navevent li a:hover{
	color:#ff0000;
}

#img_cont{
	position: relative;
	margin-top: 40px;
}

.img_tab img{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 5px solid #fff ;
}
.social img{
	width: 50%;
	height: 50%;
}
.social{
	display: inline-block;
	position: relative;
	width: 100%;
}

.social ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.social ul li{
	text-align: center;
	display: inline-block;
	margin: 20px 0 0 -15px;
}



.footer{
	position: relative;
	background:url(../images/backround/bg_footer.png) repeat center top;
	width: 100%;
	height: 50px;
}

}
/*******************Tablet****************/
@media screen and (min-width: 768px) {
	.content{
 	display: none;
 }
 
 #navevent{
	display: none;
}
 
.img_tab img{
	display: none;
} 

  #menu{
  	display: none;
  }
  #nav_ul {
   float: right;
  }

  #nav_ul a {
  display:inline-block;
  color: black;
  text-decoration: none;
  line-height: 20px;
  letter-spacing:0.25em;
  text-decoration: none;
  font-family: arial,sans-serif;
  font-size:1.2em;
  color:#000;
  border-bottom: none;
  padding: 0.5em 1em;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -mos-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

  #nav_ul li {
   float: left;
   background: no-repeat;
   margin: 2px 0 0 3px;
   border: none;

  }

  #nav_ul li:hover{
  	background: no-repeat;
	color:  #ff0000;
}

#slide{
	
	background-color: #000;
	position: relative;
	width:1150%;
	height:auto;
	margin:0;
	padding: 0;
	/* clear: both; */
	overflow: hidden;	
}

.image1, .image2, .image3, .image4, .image5{
	position: absolute;
	width: 150%;
	height: auto;
} 
h1{
	margin:100px 0 0 0;
	font-family:arial, tahoma;
	font-size: 30px;
	text-align: center;
	}
	h2{
		margin:0px 0 0 0;
		text-align: center;
		font-size: 14px;
		font-family: arial, tahoma;
	}
.content{
	display: inline-block;
	position: relative;
	top:10px ;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	text-align: center;

}
.content img{
	width: 150px;
	height: 150px;
}
.content ul{
	position: relative;
	list-style: none;
}
.batiment1{
	margin: 0;
	padding: 0;
}

.batiment1 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;	
}


.batiment2{
	margin: 0;
	padding: 0;
}

.batiment2 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;
	top: -15px;
	
}

/* .batiment2 img:hover{
	width: 90%;
	height: auto;
} */

.batiment3{
	margin: 0;
	padding: 0;
}

.batiment3 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;
	top: -30px;	
}

/* .batiment3 img:hover{
	width: 90%;
	height: auto;
} */

.batiment4{
	margin: 0;
	padding: 0;
}

.batiment4 li{
	position: relative;
	display: inline-block;
	text-align: center;
	padding-left: 7px;
	top: -45px;
	
}

/* .batiment4 img:hover{
	width: 90%;
	height: auto;
} */
#navevent{
	display: block;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

#navevent ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

#navevent ul li{
	display: inline-block;
	list-style: none;	
}

#navevent li a{
	display: block;
	text-align: center;
	padding: 0 15px 0 0;
	margin: 0 0 0 17px;
	font-family: arial,sans-serif;
	font-size: 1em;
	letter-spacing:0.20em;
	color: #000;
	text-decoration: none;
	border-right: 1px solid #333;
}

#navevent li a.last{
	border: none;
}

#navevent li a:hover{
	color:#ff0000;
}

#img_cont{
	position: relative;
	margin-top: 40px;
}

.img_tab img{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 5px solid #fff ;
}
.social img{
	width: 50%;
	height: 50%;
}
.social{
	display: inline-block;
	position: relative;
	width: 100%;
}

.social ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.social ul li{
	text-align: center;
	display: inline-block;
	margin: 20px 0 0 -15px;
}

/* .social img:hover{
	width: 90%;
	height: auto;
} */

.footer{
	position: relative;
	background:url(../images/backround/bg_footer.png) repeat center top;
	width: 100%;
	height: 50px;
}
}

/*******************desktop****************/
@media screen and (min-width: 960px) {
 	.head{
background-color:#E71313;
position: relative;
height: 100px;
width: 100%;
 }
 	

}
